.Light {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.Light svg {
  cursor: pointer;
  margin-top: -1px;
}

.Light .tri {
  top: 70px;
  border-left: 50vw solid transparent;
  border-bottom: calc(100vh - 75px) solid #F2C94C;
  border-right: 50vw solid transparent;
  opacity: 1rem;
  
}